.card {
    margin: 2px;
    width: 150px;
    height: 150px;
    transition: transform 1s linear;    
    border: none;
}

.back {
    background: rgba(147,206,222,1);
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 10px;    
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
    transform: perspective(600px) rotateY(180deg);    
}

.front {
    background: rgba(241,231,103,1);
    width: 150px;
    height: 150px;
    position: absolute;    
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
    transform: perspective(600px) rotateY(0deg);    
    border-radius: 10px;
}

.card:hover > .front {
    transform: perspective(600px) rotateY(-180deg);
}

.card:hover > .back {
    transform: perspective(600px) rotateY(0deg);
}